extends ./layouts/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5.mb-4 
                img(src="img/nosotros.jpg", alt="inagen nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina 

                blockquote Vel sem volutpat, commodo velit eu, ultricies lorem. Nulla turpis orci, porta at nisl ac, vehicula maximus quam. Aenean vehicula enim eu egestas tristique. Praesent tincidunt semper risus, ac pharetra enim porta non. Etiam turpis velit, malesuada quis suscipit ut, condimentum non ipsum. Nam nec metus ex. Duis eleifend urna nisi, vel viverra quam dictum sit amet.

                p Praesent eget leo lacinia, molestie libero ut, ornare risus. Suspendisse potenti. Fusce blandit ipsum at urna sollicitudin accumsan. Phasellus id semper mauris, non porttitor orci. Ut ut elementum turpis. Donec maximus dui vitae ipsum varius, ut cursus neque malesuada. Nullam nec condimentum massa, interdum laoreet sapien. Curabitur vel eros leo.

                p Cras neque orci, porta vel ex non, egestas aliquam turpis. Nam dignissim lectus turpis, id luctus erat dignissim id. Vivamus ultricies velit volutpat lectus consectetur condimentum. Sed vitae scelerisque dolor. Sed nisl urna, laoreet a sapien nec, dictum pulvinar elit. Duis blandit lorem at leo maximus, vitae pharetra tellus scelerisque. Suspendisse magna purus, malesuada ut blandit sit amet, pretium non enim.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2 Seguridad
                    p Cras neque orci, porta vel ex non, egestas aliquam turpis. Nam dignissim lectus turpis, id luctus erat dignissim id. Vivamus ultricies velit.
                
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2 Destinos Increíbles
                    p Cras neque orci, porta vel ex non, egestas aliquam turpis. Nam dignissim lectus turpis, id luctus erat dignissim id. Vivamus ultricies velit.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2 Los Mejores Precios
                    p Cras neque orci, porta vel ex non, egestas aliquam turpis. Nam dignissim lectus turpis, id luctus erat dignissim id. Vivamus ultricies velit.